<ion-header>

  <ion-navbar>
    <ion-title>{{movieItem?.title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="toggleMyList()">
        <ion-icon name="{{inMyList ? 'star': 'star-outline'}}"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <img src="{{backdrop}}" class="poster" *ngIf="backdrop">
  <div class="detail-content-header">
    <div class="movie-title">{{movieItem?.title}}</div>
    <div>
      <span class="release-year">
        {{movieItem?.release_date | date:'yyyy'}}
      </span>
      <span class="">

      </span>
      <span class="runtime" *ngIf="movieItem?.runtime>0">
        {{movieItem?.runtime}}
      </span>
      <span class="genres">
        <span *ngFor="let genre of movieItem?.genres | slice:0:3; last as isLast">
          {{genre.name}}<span *ngIf="!isLast">, </span>
        </span>
      </span>
    </div>
  </div>
  <hr/>
  <div class="detail-content">
    <ion-grid>
      <ion-row>
        <ion-col col-4 class="image-col">
          <img src="{{image}}">
        </ion-col>
        <ion-col col-8 class="content-col">
          <div class="inner-content">
            <p text-wrap class="movie-overview">
              {{movieItem?.overview}}
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-slides class="card-background-page">
    <ion-slide *ngFor="let video of movieItem?.videos.results">
      <span class="card-title">{{video.name}}</span>
      <ion-card (click)="openVideo(video.key)" class="trailer-card">
        <img src="https://img.youtube.com/vi/{{video.key}}/hqdefault.jpg">
        <div class="card-subtitle">
          <div class="play-icon-wrapper">
            <ion-icon name="play"></ion-icon>
          </div>
        </div>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
