page-movie-detail {

  hr {
    background-color: color($colors, light);
  }

  p {
    color: color($colors, light) !important;
  }

  p.movie-overview {
    margin: 0;
  }

  img.poster {
    width: 100%;
  }

  .detail-content {
    padding-left: 5px;
    padding-right: 5px;
  }

  .detail-content-header {
    padding-left: 10px;
    padding-right: 10px;
    color: color($colors, light);
  }

  .movie-title {
    font-size: 2.5rem;
    color: #ffffff;
  }
}
