<ion-header>

  <ion-navbar>
    <ion-title>{{"LIST_TAB.TITLE" | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngIf="myMovieList.length==0">
      {{"LIST_TAB.NO_ITEMS" | translate}}
    </ion-item>
    <ion-item *ngFor="let item of myMovieList" no-padding>
      <movie-backdrop-card [image]="getImageForMovie(item.item)" [movie]="item.item"
                           (itemClicked)="openMyListItem($event)"></movie-backdrop-card>
    </ion-item>
  </ion-list>
</ion-content>
