movie-list-item {
  .list-marker {
    position: absolute;
    right: 5%;
    top: 1px;
    font-size: 1.2em;
  }

  ion-grid.grid {
    padding: 0;

    ion-col.image-col {
      padding: 0;
    }

    ion-col.content-col {
      display: flex;
      flex-flow: column;
      justify-content: center;
      padding-top: 0;
      padding-bottom: 0;

      .inner-content {
        padding-left: 10px;
        padding-right: 10px;

        .movie-title {
          font-size: 1.8rem;
        }
      }
    }
  }
}
