page-genre-search {
  .search-results {

    > ion-list > ion-item {
      padding-left: 0;

      > .item-inner {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 1px;
        margin-bottom: 5px;
        border-color: color($colors, secondary) !important;
        > div > ion-label {
          margin: 0;
        }
      }
    }
  }
}
