<ion-header>

  <ion-navbar color="primary">
    <ion-searchbar [(ngModel)]="searchInput" [showCancelButton]="false"
                   placeholder=" {{'SEARCH_TAB.SEARCHBAR_PLACEHOLDER' | translate}}"
                   (search)="onSearchSubmit($event)"
                   (ionFocus)="onSearchFocus($event)"
                   (ionBlur)="onSearchBlur($event)">
    </ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="search-results" [style.display]="displayMode=='result'?'block':'none'">
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list id="search-result-list">
      <ion-item *ngFor="let item of visibleItems">
        <movie-list-item [movie]="item" (itemClicked)="openSearchResult($event)"></movie-list-item>
      </ion-item>
    </ion-list>
  </div>

  <div class="search-results" [style.display]="displayMode=='search'?'block':'none'">
    <ion-list id="search-input-list">
      <ion-item *ngFor="let item of lastSearchEntries" (click)="searchInputClick(item)">
        {{item}}
      </ion-item>
    </ion-list>
  </div>

</ion-content>
