page-search {

  .search-inputs {
    background-color: color($colors, light);
  }

  #search-input-list > ion-item-sliding > ion-item {
    height: 54px;
    font-size: 1.8rem;
  }

  .search-results {

    > ion-list > ion-item {
      padding-left: 0;

      > .item-inner {
        padding-left: 10px;
        padding-right: 10px;
        > div > ion-label {
          margin: 0;
        }
      }
    }
  }

}
