<ion-header>

  <ion-navbar color="primary">
    <ion-searchbar [(ngModel)]="searchInput" [showCancelButton]="false"
                   placeholder=" {{'SEARCH_TAB.SEARCHBAR_PLACEHOLDER' | translate}}"
                   (search)="onSearchSubmit($event)"
                   (ionFocus)="onSearchFocus($event)"
                   (ionBlur)="onSearchBlur($event)">
    </ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="search-inputs" *ngIf="displayMode=='search'" [style.display]="displayMode=='search'?'block':'none'">
    <ion-list id="search-input-list">
      <ion-item-sliding *ngFor="let item of lastSearchEntries">
        <ion-item (click)="searchInputClick(item)">
          {{item}}
        </ion-item>
        <ion-item-options side="right">
          <button ion-button (click)="removeFromSearchList(item)">{{'SEARCH_TAB.REMOVE_FROM_SEARCHLIST' | translate}}
          </button>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>
  </div>

  <div class="search-results" *ngIf="displayMode=='result'" [style.display]="displayMode=='result'?'block':'none'">
    <ion-list id="search-result-list">
      <ion-refresher (ionRefresh)="doRefresh($event)" [pullMax]="pullMaxValue" [pullMin]="80">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="{{'SEARCH_TAB.PULL_DOWN_REFRESH_TEXT' | translate}}"
          refreshingSpinner="circles"
          refreshingText="{{'SEARCH_TAB.REFRESHING_TEXT' | translate}}"></ion-refresher-content>
      </ion-refresher>
      <ion-item *ngFor="let item of visibleItems">
        <movie-list-item [movie]="item" (itemClicked)="openSearchResult($event)"></movie-list-item>
      </ion-item>
      <ion-infinite-scroll (ionInfinite)="infiniteSearch($event)">
        <ion-infinite-scroll-content
          color="secondary"
          loadingText="{{'SEARCH_TAB.LOADING_TEXT'|translate}}">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>
  </div>

</ion-content>
